In [1]:
import pandas as pd
import numpy as np

In [2]:
!unzip '/content/Sales.zip'

Archive:  /content/Sales.zip
   creating: Sales/
  inflating: Sales/categories.csv
  inflating: Sales/cities.csv
  inflating: Sales/countries.csv
  inflating: Sales/customers.csv
  inflating: Sales/employees.csv
  inflating: Sales/products.csv
  inflating: Sales/sales.csv

In [3]:
df_cat = pd.read_csv('/content/Sales/categories.csv')

In [4]:
df_city = pd.read_csv('/content/Sales/cities.csv')

In [5]:
df_country = pd.read_csv('/content/Sales/countries.csv')

In [6]:
df_cust = pd.read_csv('/content/Sales/customers.csv')

In [7]:
df_employee = pd.read_csv('/content/Sales/employees.csv')

In [8]:
df_product = pd.read_csv('/content/Sales/products.csv')

In [9]:
df_sales = pd.read_csv('/content/Sales/sales.csv')

In [10]:
df_cat

    CategoryID CategoryName
0            1  Confections
1            2   Shell fish
2            3      Cereals
3            4        Dairy
4            5    Beverages
5            6      Seafood
6            7         Meat
7            8        Grain
8            9      Poultry
9           10       Snails
10          11      Produce

In [11]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CategoryID    11 non-null     int64
 1   CategoryName  11 non-null     object
dtypes: int64(1), object(1)
memory usage: 308.0+ bytes

In [12]:
df_city.head()

   CityID        CityName  Zipcode  CountryID
0       1          Dayton    80563         32
1       2         Buffalo    17420         32
2       3         Chicago    44751         32
3       4         Fremont    20641         32
4       5  Virginia Beach    62389         32

In [13]:
df_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CityID     96 non-null     int64
 1   CityName   96 non-null     object
 2   Zipcode    96 non-null     int64
 3   CountryID  96 non-null     int64
dtypes: int64(3), object(1)
memory usage: 3.1+ KB

In [14]:
df_city['CountryID'].unique()

array([32])

In [15]:
df_city.head()

   CityID        CityName  Zipcode  CountryID
0       1          Dayton    80563         32
1       2         Buffalo    17420         32
2       3         Chicago    44751         32
3       4         Fremont    20641         32
4       5  Virginia Beach    62389         32

In [16]:
df_country.head()

   CountryID CountryName CountryCode
0          1     Armenia          AN
1          2      Canada          FO
2          3      Belize          MK
3          4      Uganda          LV
4          5    Thailand          VI

In [17]:
df_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryID    206 non-null    int64
 1   CountryName  206 non-null    object
 2   CountryCode  205 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.0+ KB

In [18]:
df_country[df_country['CountryCode'].isnull()]

     CountryID CountryName CountryCode
145        146   Australia         NaN

In [19]:
df_country.fillna('AL',inplace=True)

In [20]:
df_country[df_country['CountryCode']=='AL']

     CountryID CountryName CountryCode
145        146   Australia          AL

In [21]:
df_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryID    206 non-null    int64
 1   CountryName  206 non-null    object
 2   CountryCode  206 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.0+ KB

In [22]:
df_cust.head()

,CustomerID,FirstName,MiddleInitial,LastName,CityID,Address
0,1,Stefanie,Y,Frye,79,97 Oak Avenue
1,2,Sandy,T,Kirby,96,52 White First Freeway
2,3,Lee,T,Zhang,55,921 White Fabien Avenue
3,4,Regina,S,Avery,40,75 Old Avenue
4,5,Daniel,S,Mccann,2,283 South Green Hague Avenue

In [23]:
df_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98759 entries, 0 to 98758
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     98759 non-null  int64
 1   FirstName      98759 non-null  object
 2   MiddleInitial  97782 non-null  object
 3   LastName       98759 non-null  object
 4   CityID         98759 non-null  int64
 5   Address        98759 non-null  object
dtypes: int64(2), object(4)
memory usage: 4.5+ MB

In [24]:
df_cust[df_cust['MiddleInitial'].isnull()]

,CustomerID,FirstName,MiddleInitial,LastName,CityID,Address
34,35,Tammie,NaN,Gaines,4,47 White Clarendon Boulevard
47,48,Norma,NaN,Gallegos,50,400 North Milton Blvd.
114,115,Trina,NaN,Ochoa,50,25 Rocky Cowley Freeway
168,169,Casey,NaN,Glass,39,11 South Green Oak Boulevard
253,254,Angela,NaN,Norman,1,806 North First Freeway
...,...,...,...,...,...,...
98421,98422,Herbert,NaN,Hansen,62,70 South Hague Way
98493,98494,Patricia,NaN,Peters,39,52 Green New Parkway
98593,98594,Armando,NaN,Pena,50,88 Green Milton Avenue
98733,98734,Gordon,NaN,Hampton,56,26 New Road
98740,98741,Jolene,NaN,Trujillo,91,79 First Way

In [25]:
df_cust['MiddleInitial'].fillna('',inplace=True)

/tmp/ipython-input-126914248.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cust['MiddleInitial'].fillna('',inplace=True)

In [26]:
df_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98759 entries, 0 to 98758
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     98759 non-null  int64
 1   FirstName      98759 non-null  object
 2   MiddleInitial  98759 non-null  object
 3   LastName       98759 non-null  object
 4   CityID         98759 non-null  int64
 5   Address        98759 non-null  object
dtypes: int64(2), object(4)
memory usage: 4.5+ MB

In [27]:
df_employee.rename(columns={'EmployeeID':'SalesPersonID'},inplace=True)

In [28]:
df_employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SalesPersonID  23 non-null     int64
 1   FirstName      23 non-null     object
 2   MiddleInitial  23 non-null     object
 3   LastName       23 non-null     object
 4   BirthDate      23 non-null     object
 5   Gender         23 non-null     object
 6   CityID         23 non-null     int64
 7   HireDate       23 non-null     object
dtypes: int64(2), object(6)
memory usage: 1.6+ KB

In [29]:
df_product.head()

,ProductID,ProductName,Price,CategoryID,Class,ModifyDate,Resistant,IsAllergic,VitalityDays
0,1,Flour - Whole Wheat,74.2988,3,Medium,2018-02-16 08:21:49.190,Durable,Unknown,0.0
1,2,Cookie Chocolate Chip With,91.2329,3,Medium,2017-02-12 11:39:10.970,Unknown,Unknown,0.0
2,3,Onions - Cippolini,9.1379,9,Medium,2018-03-15 08:11:51.560,Weak,False,111.0
3,4,"Sauce - Gravy, Au Jus, Mix",54.3055,9,Medium,2017-07-16 00:46:28.880,Durable,Unknown,0.0
4,5,Artichokes - Jerusalem,65.4771,2,Low,2017-08-16 14:13:35.430,Durable,True,27.0

In [30]:
df_product[df_product['ProductID']== 6]

,ProductID,ProductName,Price,CategoryID,Class,ModifyDate,Resistant,IsAllergic,VitalityDays
5,6,Wine - Magnotta - Cab Sauv,79.7184,8,High,2017-05-25 15:08:39.690,Unknown,Unknown,0.0

In [31]:
df_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ProductID     452 non-null    int64
 1   ProductName   452 non-null    object
 2   Price         452 non-null    float64
 3   CategoryID    452 non-null    int64
 4   Class         452 non-null    object
 5   ModifyDate    452 non-null    object
 6   Resistant     452 non-null    object
 7   IsAllergic    452 non-null    object
 8   VitalityDays  452 non-null    float64
dtypes: float64(2), int64(2), object(5)
memory usage: 31.9+ KB

In [32]:
df_sales.head()

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber
0,1,6,27039,381,7,0.0,0.0,2018-02-05 07:38:25.430,FQL4S94E4ME1EZFTG42G
1,2,16,25011,61,7,0.0,0.0,2018-02-02 16:03:31.150,12UGLX40DJ1A5DTFBHB8
2,3,13,94024,23,24,0.0,0.0,2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0
3,4,8,73966,176,19,0.2,0.0,2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE
4,5,10,32653,310,9,0.0,0.0,2018-02-12 15:37:03.940,4BGS0Z5OMAZ8NDAFHHP3

In [33]:
df_sales.isnull().sum()

SalesID                  0
SalesPersonID            0
CustomerID               0
ProductID                0
Quantity                 0
Discount                 0
TotalPrice               0
SalesDate            67526
TransactionNumber        0
dtype: int64

In [34]:
df_sales[df_sales['SalesDate'].isnull()]

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber
50,51,21,12478,215,4,0.2,0.0,NaN,H8B08JBXS1TOWBJH3XMS
227,228,18,70321,74,18,0.0,0.0,NaN,SJ5VWMCZHIC2XBUEHEZJ
295,296,21,71322,219,19,0.0,0.0,NaN,8IXG8EPHL6LSLY3264G9
347,348,9,92737,352,24,0.0,0.0,NaN,HXGMYR6J7HWJUOTKB19Q
355,356,18,48857,278,13,0.0,0.0,NaN,0KLH8NGRQAGYRCVM4IF8
...,...,...,...,...,...,...,...,...,...
6757793,6757794,7,33051,412,9,0.0,0.0,NaN,ZBRWISI5P40E51OALP7T
6757833,6757834,15,22090,276,6,0.0,0.0,NaN,LZ00FIAZFGL5DLREDX4Z
6757969,6757970,12,34077,63,9,0.0,0.0,NaN,WYPPNCGY57O7F0WXY0G0
6758033,6758034,9,24940,22,7,0.0,0.0,NaN,B8RYWQV5ZMCUCYVOJJD6
6758068,6758069,17,79796,439,21,0.0,0.0,NaN,3CKLZC55RMQJBILHEBY9

In [35]:
df_sales.dropna(inplace=True)

In [36]:
df_sales.isnull().sum()

SalesID              0
SalesPersonID        0
CustomerID           0
ProductID            0
Quantity             0
Discount             0
TotalPrice           0
SalesDate            0
TransactionNumber    0
dtype: int64

In [37]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6690599 entries, 0 to 6758124
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   SalesID            int64
 1   SalesPersonID      int64
 2   CustomerID         int64
 3   ProductID          int64
 4   Quantity           int64
 5   Discount           float64
 6   TotalPrice         float64
 7   SalesDate          object
 8   TransactionNumber  object
dtypes: float64(2), int64(5), object(2)
memory usage: 510.5+ MB

In [38]:
df_sales.shape

(6690599, 9)

In [39]:
df_sales

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber
0,1,6,27039,381,7,0.0,0.0,2018-02-05 07:38:25.430,FQL4S94E4ME1EZFTG42G
1,2,16,25011,61,7,0.0,0.0,2018-02-02 16:03:31.150,12UGLX40DJ1A5DTFBHB8
2,3,13,94024,23,24,0.0,0.0,2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0
3,4,8,73966,176,19,0.2,0.0,2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE
4,5,10,32653,310,9,0.0,0.0,2018-02-12 15:37:03.940,4BGS0Z5OMAZ8NDAFHHP3
...,...,...,...,...,...,...,...,...,...
6758120,6758121,10,50938,300,13,0.0,0.0,2018-04-20 22:39:03.150,AHVBHVO7632V5YYD2VJT
6758121,6758122,18,85668,452,22,0.1,0.0,2018-01-13 15:08:18.700,M4IA0FS13J9F0GJD4BX8
6758122,6758123,21,68409,405,18,0.0,0.0,2018-01-18 12:05:16.950,7VZJ77UGBSX2SNCC1GFW
6758123,6758124,17,90315,104,23,0.0,0.0,2018-02-26 08:13:37.850,3JTF5IF0YJLLXF9IRS8X
6758124,6758125,16,45667,305,12,0.0,0.0,2018-04-17 15:26:30.270,RRBD7S603UIC73B631OF

In [40]:
df_sales['unit_prices'] = np.random.randint(1,100,df_sales.shape[0])

In [41]:
df_sales['total_amount'] = df_sales['Quantity'] * df_sales['unit_prices']

In [42]:
df_sales['discounted_amount'] = df_sales['total_amount'] * df_sales['Discount']

In [43]:
df_sales['TotalPrice'] = df_sales['total_amount'] - df_sales['discounted_amount']

In [44]:
df_sales['SalesDate'] = pd.to_datetime(df_sales['SalesDate'].apply(lambda x: x.split(" ")[0]))

In [45]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6690599 entries, 0 to 6758124
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   SalesID            int64
 1   SalesPersonID      int64
 2   CustomerID         int64
 3   ProductID          int64
 4   Quantity           int64
 5   Discount           float64
 6   TotalPrice         float64
 7   SalesDate          datetime64[ns]
 8   TransactionNumber  object
 9   unit_prices        int64
 10  total_amount       int64
 11  discounted_amount  float64
dtypes: datetime64[ns](1), float64(3), int64(7), object(1)
memory usage: 663.6+ MB

#####Dashboard building
---High Level >>>
>>>deep down----
###High level

* total metrics - derive from daily data
* daily sale, daily order, daily customer (daily data - filter month)
* date, sale, order, customer, month
----
* customer must be unique,
* month, customer (unique)

----

Category
* category based - sale, order, customer

Country
* country based - sale, order, customer
------
Category deep down

* category based - sale, order, customer
* which products in each category are highest sales, highest orders, highest customers

Country deep down

* similar to category

Employee deep down

* Similar category

##### Daily Sales

In [46]:
daily_summary = df_sales.groupby('SalesDate')['TotalPrice'].sum()

In [47]:
daily_summary.reset_index()

     SalesDate  TotalPrice
0   2018-01-01  32887090.4
1   2018-01-02  32862601.1
2   2018-01-03  32524489.9
3   2018-01-04  32555522.3
4   2018-01-05  32763071.3
..         ...         ...
124 2018-05-05  32705787.1
125 2018-05-06  32656881.9
126 2018-05-07  32918873.3
127 2018-05-08  32752557.1
128 2018-05-09  32811445.3

[129 rows x 2 columns]

In [48]:
daily_c =  df_sales.groupby('SalesDate')['CustomerID'].nunique()

In [49]:
daily_c.reset_index()

     SalesDate  CustomerID
0   2018-01-01       40411
1   2018-01-02       40357
2   2018-01-03       39993
3   2018-01-04       40036
4   2018-01-05       40559
..         ...         ...
124 2018-05-05       40307
125 2018-05-06       40040
126 2018-05-07       40429
127 2018-05-08       40195
128 2018-05-09       40406

[129 rows x 2 columns]

In [50]:
daily_o = df_sales.groupby('SalesDate')['SalesID'].nunique()

In [51]:
# Aggregate function
daily = df_sales.groupby('SalesDate').agg({'TotalPrice':'sum','CustomerID':'nunique','SalesID':'nunique'})

In [52]:
daily.rename(columns={'TotalPrice':'Total_Sales','CustomerID':'CustomersCounts','SalesID':'OrdersCounts'},inplace=True)

In [53]:
daily.reset_index()

     SalesDate  Total_Sales  CustomersCounts  OrdersCounts
0   2018-01-01   32887090.4            40411         51856
1   2018-01-02   32862601.1            40357         52059
2   2018-01-03   32524489.9            39993         51306
3   2018-01-04   32555522.3            40036         51527
4   2018-01-05   32763071.3            40559         52101
..         ...          ...              ...           ...
124 2018-05-05   32705787.1            40307         51560
125 2018-05-06   32656881.9            40040         51643
126 2018-05-07   32918873.3            40429         51864
127 2018-05-08   32752557.1            40195         51769
128 2018-05-09   32811445.3            40406         52097

[129 rows x 4 columns]

In [54]:
daily.to_csv('daily_data.csv')

In [55]:
df_sales.head()

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber,unit_prices,total_amount,discounted_amount
0,1,6,27039,381,7,0.0,637.0,2018-02-05,FQL4S94E4ME1EZFTG42G,91,637,0.0
1,2,16,25011,61,7,0.0,203.0,2018-02-02,12UGLX40DJ1A5DTFBHB8,29,203,0.0
2,3,13,94024,23,24,0.0,1776.0,2018-05-03,5DT8RCPL87KI5EORO7B0,74,1776,0.0
3,4,8,73966,176,19,0.2,121.6,2018-04-07,R3DR9MLD5NR76VO17ULE,8,152,30.4
4,5,10,32653,310,9,0.0,594.0,2018-02-12,4BGS0Z5OMAZ8NDAFHHP3,66,594,0.0

In [56]:
df_sales[df_sales['SalesDate'] == '2018-02-05']['SalesID'].nunique()

51672

##### Monthly Orders

In [57]:
monthly_order = df_sales.groupby('SalesDate').agg({'TotalPrice':'sum','SalesID':'nunique'})

In [58]:
monthly_order.reset_index()
monthly_order.rename(columns={'SalesDate':'month','TotalPrice':'Total_Sales','SalesID':'OrdersCounts'},inplace=True)
monthly_order.to_csv('monthly_order.csv')

##### Monthly Customers

In [59]:
df_sales['month'] = df_sales['SalesDate'].astype(str).apply(lambda x: x.split('-')[1])
monthly_cust = df_sales.groupby('month').agg({'CustomerID':'nunique'})

monthly_cust = monthly_cust.reset_index()
monthly_cust.rename(columns={'month':'month','CustomerID':'CustomersCounts'},inplace=True)

monthly_cust['month'] = monthly_cust['month'].apply(lambda x: pd.to_datetime(x, format='%m').strftime('%B'))
monthly_cust.to_csv('monthly_cust.csv')

In [60]:
df_sales['month']

0          02
1          02
2          05
3          04
4          02
           ..
6758120    04
6758121    01
6758122    01
6758123    02
6758124    04
Name: month, Length: 6690599, dtype: object

Monthly Summary  for products by Cat

##### Monthly Summary by city

In [61]:
cities = df_city.merge(df_country,on='CountryID')

In [62]:
cities.head()

   CityID        CityName  Zipcode  CountryID    CountryName CountryCode
0       1          Dayton    80563         32  United States          AR
1       2         Buffalo    17420         32  United States          AR
2       3         Chicago    44751         32  United States          AR
3       4         Fremont    20641         32  United States          AR
4       5  Virginia Beach    62389         32  United States          AR

In [63]:
city = cities.merge(df_cust,on='CityID').merge(df_sales,on='CustomerID').merge(df_employee,on='SalesPersonID')

In [64]:
city.head()

,CityID_x,CityName,Zipcode,CountryID,CountryName,CountryCode,CustomerID,FirstName_x,MiddleInitial_x,LastName_x,...,total_amount,discounted_amount,month,FirstName_y,MiddleInitial_y,LastName_y,BirthDate,Gender,CityID_y,HireDate
0,1,Dayton,80563,32,United States,AR,103,Jana,Q,Huang,...,27,0.0,03,Sonya,E,Dickson,1976-01-14 00:00:00.000,F,12,2016-08-10 15:59:30.360
1,1,Dayton,80563,32,United States,AR,103,Jana,Q,Huang,...,45,0.0,03,Shelby,P,Riddle,1964-06-13 00:00:00.000,M,14,2013-03-24 08:36:50.020
2,1,Dayton,80563,32,United States,AR,103,Jana,Q,Huang,...,71,14.2,02,Janet,K,Flowers,1979-03-01 00:00:00.000,F,7,2010-05-12 02:52:30.370
3,1,Dayton,80563,32,United States,AR,103,Jana,Q,Huang,...,32,0.0,03,Tonia,O,Mc Millan,1952-03-02 00:00:00.000,F,53,2015-11-25 18:18:23.480
4,1,Dayton,80563,32,United States,AR,103,Jana,Q,Huang,...,11,0.0,02,Bernard,L,Moody,1970-03-22 00:00:00.000,M,54,2013-11-12 19:25:04.390

In [65]:
monthly_city_emp = city.groupby(['month','CityName','SalesPersonID']).agg({'TotalPrice':'sum','SalesID':'nunique','CustomerID':'nunique'})

In [66]:
latest = monthly_city_emp.reset_index()

In [67]:
latest.rename(columns={'month':'month','CityName':'City','SalesPersonID':'SalesPerson','TotalPrice':'Total_Sales','SalesID':'OrdersCounts','CustomerID':'CustomersCounts'},inplace=True)
latest.to_csv('monthly_city.csv')

In [68]:
latest.head()

  month   City  SalesPerson  Total_Sales  OrdersCounts  CustomersCounts
0    01  Akron            1     440540.9           688              500
1    01  Akron            2     440177.0           679              491
2    01  Akron            3     428738.4           660              479
3    01  Akron            4     416084.0           653              491
4    01  Akron            5     469687.2           758              518

##### Staff performance by their service period


---

In [69]:
emp = df_sales.merge(df_employee,on='SalesPersonID')

In [70]:
emp['HireDate'] = pd.to_datetime(emp['HireDate'])

# Find the earliest and latest hire dates in the dataset
start_date = emp['HireDate'].min()
latest_date = emp['HireDate'].max()

# Calculate the midpoint (half period)
half_period = start_date + (latest_date - start_date) / 2

# Classify staff based on hire_date compared to the midpointciy
emp['ranked'] = emp['HireDate'].apply(lambda x: 'new staff' if x > half_period else 'old staff')

# Add midpoint for reference
emp['half_period'] = half_period

emp.head()

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber,unit_prices,...,month,FirstName,MiddleInitial,LastName,BirthDate,Gender,CityID,HireDate,ranked,half_period
0,1,6,27039,381,7,0.0,637.0,2018-02-05,FQL4S94E4ME1EZFTG42G,91,...,02,Holly,E,Collins,1987-01-13 00:00:00.000,M,65,2013-06-22 13:20:18.080,old staff,2013-08-18 04:38:37.635
1,2,16,25011,61,7,0.0,203.0,2018-02-02,12UGLX40DJ1A5DTFBHB8,29,...,02,Chadwick,U,Walton,1951-07-07 00:00:00.000,M,28,2017-02-10 11:21:26.650,new staff,2013-08-18 04:38:37.635
2,3,13,94024,23,24,0.0,1776.0,2018-05-03,5DT8RCPL87KI5EORO7B0,74,...,05,Katina,Y,Marks,1963-04-18 00:00:00.000,M,68,2011-12-12 10:43:52.940,old staff,2013-08-18 04:38:37.635
3,4,8,73966,176,19,0.2,121.6,2018-04-07,R3DR9MLD5NR76VO17ULE,8,...,04,Julie,E,Dyer,1956-12-13 00:00:00.000,M,18,2014-10-14 23:12:53.420,new staff,2013-08-18 04:38:37.635
4,5,10,32653,310,9,0.0,594.0,2018-02-12,4BGS0Z5OMAZ8NDAFHHP3,66,...,02,Jean,P,Vang,1963-12-30 00:00:00.000,M,9,2012-07-23 15:02:12.640,old staff,2013-08-18 04:38:37.635

In [71]:
emp['HiredDate'] = emp['HireDate'].astype(str).apply(lambda x: x.split(' ')[0])

In [72]:
emp['HiredDate']

0          2013-06-22
1          2017-02-10
2          2011-12-12
3          2014-10-14
4          2012-07-23
              ...
6690594    2012-07-23
6690595    2010-02-22
6690596    2016-01-24
6690597    2010-07-11
6690598    2017-02-10
Name: HiredDate, Length: 6690599, dtype: object

In [73]:
staff_performances  = emp.groupby(['ranked','SalesPersonID','month']).agg({'TotalPrice':'sum','SalesID':'nunique','CustomerID':'nunique'})

In [74]:
staff_performances.rename(columns={'month':'month','SalesPersonID':'SalesPerson','TotalPrice':'Total_Sales','SalesID':'OrdersCounts','CustomerID':'CustomersCounts'},inplace=True)
staff_performances.to_csv('staff_performances.csv')

In [75]:
deep  = emp.groupby(['HiredDate','month','ranked','SalesPersonID']).agg({'TotalPrice':'sum','SalesID':'nunique','CustomerID':'nunique'})

In [76]:
deep.rename(columns ={'HiredDate': 'StartDate','SalesPersonID':'SalesPerson','TotalPrice':'Total_Sales','SalesID':'OrdersCounts','CustomerID':'CustomersCounts'},inplace=True)
deep.reset_index()

,HiredDate,month,ranked,SalesPersonID,Total_Sales,OrdersCounts,CustomersCounts
0,2010-02-22,01,old staff,18,44166985.2,70181,50258
1,2010-02-22,02,old staff,18,39627801.5,63271,46696
2,2010-02-22,03,old staff,18,44058357.6,69688,50108
3,2010-02-22,04,old staff,18,43162801.2,68185,49133
4,2010-02-22,05,old staff,18,12774007.9,20302,18355
...,...,...,...,...,...,...,...
110,2017-02-10,01,new staff,16,43800044.2,69559,49670
111,2017-02-10,02,new staff,16,39763219.4,63167,46529
112,2017-02-10,03,new staff,16,44173675.9,70161,50208
113,2017-02-10,04,new staff,16,42718673.9,67618,48911
114,2017-02-10,05,new staff,16,12705841.7,20188,18285

In [77]:
deep.to_csv('deep.csv')